header {
    background-color: black;
    color: white;
    padding: 10px 0;
    position: relative;

    > div {
        display: flex;
        align-items: center;

        @media (max-width: 640px) {
            display: flex;
            justify-content: center;
        }

        svg {
            cursor: pointer;
            font-size: 20px;
        }

        img {
            object-fit: contain;
            width: 138px;

            @media (max-width: 640px) {
                width: 215px;
                margin: 0 auto;
            }

            @media (max-width: 460px) {
                width: 170px;
            }
        }

        > div {
            display: flex;

            ul {
                display: flex;
                list-style: none;
                margin: auto;
                padding: 15px;

                li {
                    cursor: pointer;
                    width: fit-content;
                    margin: 0 10px;
                    white-space: nowrap;
                    font-size: 16px;
                    transition: 0.2s;
                    position: relative;

                    &:hover {
                        color: #007aff;

                        &::after {
                            width: 100%;
                        }
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        background-color: #007aff;
                        bottom: -4px;
                        left: 50%;
                        transform: translateX(-50%);
                        height: 1px;
                        width: 0;
                        transition: 0.3s;
                    }
                }
                
                &:first-of-type {

                    li:first-of-type {
                        font-weight: bold;
                    }
                }

                &:last-of-type {

                    li {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .icon {
        width: 16px;
    }
}